

@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Manrope:wght@200&family=Open+Sans:ital,wght@1,300&family=Red+Hat+Display:ital,wght@1,300&display=swap');

#container{
    background-color:#E5E5E5;
    padding:56px 100px 64px 100px;
    margin:auto;
    max-width:1400px;
    width:100%;
    background-color:white;
    box-sizing:border-box;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.left-cont{
    width:50%;
}
.right-cont{
    width:50%;
}
h1{
    color:hsl(300, 43%, 22%);
    max-width:300px;
    font-weight:bold;
    font-size:45px;
    text-align: center;
    
}
.text{
    max-width:400px;
    font-size:15px;
    font-weight: 500;
    color:hsl(303, 10%, 53%);
}
.review{
    width:80%;
    margin:20px;
    padding-left: 15px;
    background-color: hsl(300, 24%, 96%);
    display:flex;
    align-items: center;
    gap:10px;
    border-radius:10px;
    justify-content: center;
 
} 
.star{
    width:15px;
    height:15px;


}
.rate{
    color:hsl(300, 43%, 22%);
    font-weight:700;
    margin-left:30px;
    padding-right: 30px;

}

.review:nth-child(2){
   margin-left:60px;
}
.review:nth-child(3){
    margin-left:120px;
}
/*  responsive */
@media(max-width:500px){
    #container{
        background-color:#E5E5E5;
        margin:auto;
        max-width:500px;
        width:100%;
        background-color:white;
        box-sizing:border-box;
        font-family: 'League Spartan', sans-serif;
        display: block;
        justify-content: center;
        align-items: center;
       
    }
    .left-cont{
        width:100%;
    }
    .right-cont{
        width:100%;
        
        
    }
    h1{
        color:hsl(300, 43%, 22%);
        max-width:500px;
        font-weight:bold;
        font-size:30px;
        text-align: center;
        
    }
    .text{
        max-width:500px;
        font-size:20px;
        font-weight: 500;
        color:hsl(303, 10%, 53%);
    }
    .review{
        width:100%;
        background-color: hsl(300, 24%, 96%);
        display:inline-block;
        border-radius:10px;
        padding-left:80px;
        margin:10px auto;
        
        
     
    } 
    .star{
        padding:0 20px 0 0;
        width:100%;
        width:15px;
        height:15px;
    }
    .rate{
        margin:10px auto;
        font-size:13px;
        width:100%;
        color:hsl(300, 43%, 22%);
        font-weight:700;
          
}
.review:nth-child(2){
    margin:0 0 0 0;
 }
 .review:nth-child(3){
    margin:10px 0 0 0;
 }
}

#container1{
    background-color:#E5E5E5;
    padding:56px 100px 64px 100px;
    margin:auto;
    max-width:1400px;
    width:100%;
    background-color:white;
    box-sizing:border-box;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    justify-content: center;
    gap:20px;
    align-items: center;
    
}

.box1{
   
    width:100%;
    background-color: hsl(300, 43%, 22%);
    font-weight:500;
    font-size: 15px;
    color:white;
    border-radius:10px;
    padding:40px;
    
}
.box2{
    
    width:100%;
    background-color: hsl(300, 43%, 22%);
    font-weight:500;
    font-size: 15px;
    color:white;
    border-radius:10px;
    padding:40px;
    margin-top: 30px;
}
.box3{
   
    width:100%;
    background-color: hsl(300, 43%, 22%);
    font-weight:500;
    font-size: 15px;
    color:white;
    border-radius:10px;
    padding:40px;
    margin-top:60px;
    
}


.colton{
    border-radius: 50%;
    width: 50px;
    height: 50px;
   
}
.names{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.smith{
    margin-top:0;
    margin-left:15px;
}

.ver{
    color:hsl(333, 80%, 67%);
    margin-top:-30px;
   margin-left:65px;
}
/*  responsive 2*/
@media(max-width:500px){
#container1{
    background-color:#E5E5E5;
    padding:56px 100px 64px 100px;
    margin:auto;
    max-width:1400px;
    width:100%;
    background-color:white;
    box-sizing:border-box;
    font-family: 'League Spartan', sans-serif;
    display: block;
    justify-content: center;
    gap:20px;
    align-items: center;
    
}

.box1{
   
    width:100%;
    background-color: hsl(300, 43%, 22%);
    font-weight:500;
    font-size: 15px;
    color:white;
    border-radius:10px;
    padding:40px;
    
}
.box2{
    
    width:100%;
    background-color: hsl(300, 43%, 22%);
    font-weight:500;
    font-size: 15px;
    color:white;
    border-radius:10px;
    padding:40px;
    margin-top: 30px;
}
.box3{
   
    width:100%;
    background-color: hsl(300, 43%, 22%);
    font-weight:500;
    font-size: 15px;
    color:white;
    border-radius:10px;
    padding:40px;
    margin-top:60px;
    
}


.colton{
    border-radius: 50%;
    width: 50px;
    height: 50px;
   
}
.names{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.smith{
    margin-top:0;
    margin-left:15px;
}

.ver{
    color:hsl(333, 80%, 67%);
    margin-top:-30px;
   margin-left:65px;
}
}